h1{
    color: blue;
    text-align: center;
    font-weight: bold;
}
caption{
    color: rgb(210, 210, 105);
    font-size: 25px;
}
th{
    background-color: lightgreen;
    font-weight: bold;
    width: 100px;
    font-size: 25px;
    padding: 30px;
}
table, tr,td ,th{
    border-collapse: collapse;
    border: solid 1px black;
    margin: auto;
    text-align: center;

}
.LMSGI{
    background-color: rgb(192, 129, 129);
}
.BD{
    background-color: aqua;
}
.IPOI{
    background-color: beige;
}
.PED{
    background-color: blueviolet;
}
.SI{
    background-color: cadetblue;
}
.DIW{
    background-color: chocolate;
}
.AN{
    background-color: chartreuse;
}
.TUT{
    background-color: brown;
}
.Descans{
    font-size: 20px;
    padding: 15px;
}
.horas{
    font-size: 20px;
    padding: 10px;
    width: 180px;
}